aws:
  # Your AWS Account number
  account_number: ...
  # AWS Region for this deployment
  account_region:
  # Name of the flyte system role
  flyte_system_role:
  # Host name for the RDS database
  rds_host: ...
  # S3 bucket name for flyte
  bucket_name: ...
ingress:
  # DNS host name set up with AWS Route 53
  dns_host: ...
  # Certificate ARN set up with ACM
  certificate_arn: ...
  # A group name to use for the ALB
  albGroupName: ...
auth:
  # OpenID Auth url
  open_id_url: ...
  # ClientID from the Auth IDP setup
  client_id: ...
data-plane:
  # Data plane cluster configuration
  clusters:
    - name: ...
      # Cluster ID, can be the same as the name
      id: ...
      # ID key for naming the cluster credentials secret in AWS SM
      secret_id: ...
      # Name of K8s context in Kubeconfig for the data plane deployment
      context: ...
control-plane:
  # Name of K8s context in Kubeconfig for the control plane deployment
  context: ...
  # Name of External Secrets SecretStore
  secret-store-name: secretstore
  # Name of service account SecretStore is going to use
  secret-store-service-account: flyteadmin
  # ID key for naming the database password secret in AWS SM
  database-secret-id: ...